* {
  box-sizing: border-box;
}

body {
  max-width: 960px;
  margin: 2rem auto 0;
  font-family: Arial;
  text-align: center;
  background-color: #797979;
}

header {
  text-align: center;
}

button {
  background-color: #04aa6d; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button#avKnapp {
  background-color: red; /* Green */
}

img {
  width: 100px;
}
