* {
  box-sizing: border-box;
}

body {
  max-width: 960px;
  margin: 2rem auto 0;
  font-family: Arial;
  text-align: center;
}

header {
  text-align: center;
}

#kanin {
  background-color: darkgrey;
}

button {
  background: rgb(255, 243, 192);
  border-radius: 10px;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  padding: 5px 10px;
}
